body {
    background: #cccccc;
    margin: 0 15%;
}

.tytul {
    background: #8e8e8e;
    border: 3px solid #acacac;
    border-radius: 12px;
    padding: 23px;
    margin: 22px 0px;
    text-align: center;
}

.menu, .stopka {
    background: #8e8e8e;
    border: 4px solid #acacac;
    padding: 11px;
    text-align: center;
}

a {
    color: #6b1d1d;
    font-size: 21px;
    font-weight: bold;
}